PORT = 8080
NODE_MODE = "production"
MONGO_URL = "your_mongodb_connection_string_here"
ISSUER = "your_auth0_issuer_url"
JWKURI = "your_auth0_jwks_url"
AUDIENCE = 'your_audience_identifier'
JWT_SECRET = 'your_jwt_secret'

#UPI GATEWAY API
API_KEY = 'your_upi_gateway_api_key'

#ExGateway Payment Gateway
EXPAY_USER_TOKEN = 'your_exgateway_user_token'
EXPAY_WEBHOOK_SECRET = 'your_webhook_secret'

#google app password
EMAIL = 'your_gmail_address'
PASSWORD = 'your_app_password'

#Smile API
API_EMAIL = "your_smile_api_email"
API_UID = "your_smile_uid"
API_MKEY = "your_smile_api_key"

# MG Api
MG_PARTNERID = 'your_moogold_partner_id'
MG_SECRET_KEY = 'your_moogold_secret'

REDIRECT_DOMAIN = "https://yourdomain.com"

#Points System
MIN_REDEEM_POINTS = 10
POINTS_RATIO = 100

FAST2SMS_API_KEY = "your_fast2sms_api_key"
ONEAPI_SMS_API_KEY = "your_oneapi_sms_key"
